@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador de JSON</title>

    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/theme/dracula.css">
    <!-- tema 'dracula' -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/javascript/javascript.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <div class="sectionForm">
        <div class="form-sudmit" id="flexContainer">
            <div class="contaiInput__cls">
                <form class="form">
                    <div class="contaiInput">
                        <div class="cotainer_close">
                            <div>
                                <select id="selectNames" onchange="selectJSON()">
                                    <option value="">Seleccionar nombre...</option>
                                </select>
                            </div>
                            <div id="descripcionJson"><span id="description"></span></div>
                            <button id="closeSession" class="clos_form"><i class="bi bi-x-circle"></i></button>
                        </div>
                        <div id="columnResponsive">
                            <div class="field_2">
                                <div class="responseJson">Request</div>
                                <textarea id="areaTexto" class="codemirror-textarea" rows="10" cols="50" name="sp_edit"></textarea>
                            </div>
                            <div class="field_3">
                                <div class="responseJson">Response</div>
                                <textarea id="jsonOutput" class="codemirror-textarea" rows="10" cols="50" readonly></textarea>
                            </div>
                        </div>
                        <div class="btn">
                            <button id="sendRequest" type="button" class="button1"><i class="bi bi-send"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/js/site.js"></script>

</body>
</html>
